@font-face {
  font-family: "Host Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/HostGrotesk-Regular.ttf") format("" truetype "");
}
@font-face {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/NothingYouCouldDo-Regular.ttf") format("" truetype "");
}

@font-face {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  src: url(/fonts/Merriweather-VariableFont_opsz\,wdth\,wght.ttf);
}

@font-face {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/PlayfairDisplay-Regular.ttf);
}
:root {
  --white-color: rgba(255, 251, 251);
  --black-color: #000000;
  --background-color: #e5e5e5;
}
/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  background-image: url(../images/_MG_5555_edited.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}
body {
  font-family: "Host Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  height: auto;
  background-color: var(--background-color);
  overflow-x: hidden;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
h1 {
  margin-bottom: 42px;
  font-size: 56px;
  font-weight: 300;
}
h3 {
  font-size: 40px;
  color: var(--white-color);
  font-weight: 300;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.section {
  margin: 0 auto;
  padding: 50px 20px;
}
.view-more-btn,
.read-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 79px;
  margin-top: 24px;
  font-size: 24px;
  color: var(--black-color);
  background-color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
}
.view-more-btn:hover,
.read-more-btn:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
.container {
  max-width: 1920px;
  width: 100%;
  padding: 0px 10px;
  margin: 0 auto;
}

/* icon */
.icon-instagram,
.icon-telegram {
  max-width: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.icon-instagram:hover,
.icon-telegram:hover {
  transform: scale(1.1);
}

.icon-arrow {
  max-width: 50px;
  position: absolute;
  bottom: -8px;
  right: 10px;
}

/* Link */
.link {
  color: var(--white-color);
  font-size: 30px;
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.link-footer {
  color: var(--black-color);
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 20px;
}
.all-link {
  position: relative;
  color: var(--black-color);
}

.all-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}
.all-link:hover::after {
  width: 100%;
}
.link-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 1px;
  background-color: var(--black-color);
}
/* Logo */
.logo {
  cursor: pointer;
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(0.9);
}

/* Header */
.header {
  padding: 20px 0px;
  background-color: rgb(277, 277, 277, 0.6);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header-container {
  display: flex;
  justify-content: center;
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}
.header-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 80px;
}
.phone-header {
  display: none;
}
.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.burger-menu span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s;
}
.burger-menu span {
  width: 25px;
  height: 3px;
  border-radius: 30px;
  background-color: var(--black-color);
  margin: 4px 0;
  transition: transform 0.5s, opacity 0.1s; /* Анимация для бургер-меню */
}

/* Стили для бургер-меню в "крестик" при открытии */
.burger-menu.active span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
  opacity: 0; /* Средняя полоса исчезает */
}

.burger-menu.active span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}
/* Title section */
#title-section {
  position: relative;
  height: 700px;
  overflow: hidden;
}

#title-section .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#title-section .slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#title-section .slide.active {
  opacity: 1;
  z-index: 1;
}

/* Кнопки */
#title-section .overlay {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  right: 4px;
  justify-content: space-between;
  padding: 0 30px;
  transform: translateY(-50%);
  z-index: 3;
}

#title-section .overlay button {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  padding: 5px 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

/* Текст */
.title-container {
  position: relative;
  z-index: 2;
  color: var(--white-color);
  text-align: center;
  top: 490px;
  margin: 0 auto;
}

.title-container h1 {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: rgba(227, 227, 227, 0.8);
}

.title-container p {
  font-size: 20px;
  font-weight: 700;
  color: rgba(227, 227, 227, 0.8);
}
#title-section .slide-indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 3;
}

#title-section .slide-indicators .dot {
  position: relative;
  top: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

#title-section .slide-indicators .dot.active {
  background: var(--background-color);
  border-radius: 2px;
}
/* About section */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  padding: 30px;
  background-color: var(--white-color);
  gap: 129px;
  overflow: hidden;
  border-radius: 20px;
}
.text-about-content {
  display: flex;
  flex-direction: column;
  padding-top: 95px;
}

.about-img {
  width: 10em;
  max-width: 520px;
  border-radius: 8px;
}
.about-name {
  padding-top: 130px;
  font-style: italic;
}

/* Photography section */
.photography-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.photography-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photography-content {
  display: flex;
  justify-content: end;
  max-width: 1600px;
  min-height: 534px;
  width: 100%;
  background-image: url(../images/smash-building.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
}
.photography-content-inner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 3em;
  flex-direction: column;
  font-style: italic;
  padding-bottom: 290px;
  max-width: 536px;
  min-height: 532px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* Blog section */
.blog-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-content {
  display: flex;
  justify-content: end;
  max-width: 1600px;
  min-height: 534px;
  width: 100%;
  background-image: url(../images/barbed-wire.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.blog-content-inner {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 3em;
  flex-direction: column;
  padding-bottom: 210px;
  max-width: 536px;
  min-height: 532px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-style: italic;
  border-radius: 20px;
}

/* Footer */
.footer {
  background-color: var(--white-color);
  margin-top: 96px;
  padding: 50px 160px;
}
.footer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.address-link {
  color: var(--black-color);
}
.social-container {
  display: flex;
  gap: 30px;
  padding-top: 25px;
}
.contact-text {
  color: var(--black-color);
  font-size: 24px;
  font-weight: 600;
}
.container-footer-buuton {
  position: absolute;
  bottom: 10px;
  right: -70px;
}
.footer-button {
  position: relative;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.footer-button-a {
  color: var(--black-color);
}
.footer-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: var(--black-color);
  transition: all 0.4s ease;
  transform: translateX(-50%);
}
.footer-button:hover::after {
  width: 100%;
}
.address-link {
  padding-top: 10px;
}

/* Photography Page */
.photography-page-section {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 30px;
}
.photo-card {
  max-width: 700px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  transition: all 0.4s ease;
}
.photo-card a {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .photo-card {
    height: 200px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Blog Page */

.blog-page-section {
  padding: 120px 20px;
  color: #111;
}

.blog-page-section h1 {
  font-family: "Host Grotesk", sans-serif;
  font-size: 56px;
  margin-bottom: 40px;
  text-align: center;
}

.blog-post {
  background-color: #fefefe;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  max-width: 900px;
  margin: 0 auto;
}

.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.blog-img img {
  width: 180px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.post-text {
  flex: 1;
  text-align: center;
}
.post-text h2 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 500;
  margin: 0;
  color: #222;
  letter-spacing: 0.3px;
}
.post-subtitle {
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: #555;
  margin-top: 4px;
  line-height: 1.4;
}
.toggle-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #555;
}

.toggle-btn.open {
  transform: rotate(180deg);
}

/* cкрытое по умолчанию содержимое */
.post-content {
  display: grid;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease;
  font-family: "Merriweather", serif;
  margin-top: 20px;
  line-height: 1.7;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  column-count: 2;
  column-gap: 30px;
  padding-top: 40px;
  position: relative;
}
.post-content::before {
  position: absolute;
  content: "";
  width: 2000px;
  height: 1px;
  background-color: #000000;
  z-index: 3;
  top: 30px;
}
.post-content img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 20px;
}
.post-image {
  display: block;
  margin: 20px 0;
  text-align: center;
}
.post-image figcaption {
  font-size: 14px;
  color: #555;
  font-style: italic;
  margin-top: 10px;
}
.post-image img {
  max-width: 300px;
}
.content-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.post-content.open {
  max-height: 10000px;
}

/* типографика */
.post-content h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.post-content p {
  margin-bottom: 16px;
  font-size: 16px;
}

.post-content blockquote {
  font-style: italic;
  margin: 20px 0;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  color: #555;
}
@media screen and (max-width: 768px) {
  /* Header */
  .phone-header {
    display: flex;
    gap: 10px;
  }
  .header-nav {
    display: none;
  }
  .burger-menu {
    position: absolute;
    right: 5px;
    top: 30px;
    display: flex;
    z-index: 2000;
  }
  .header-nav.open {
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(227, 227, 227, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    z-index: 1500;
    padding-bottom: 400%;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .logo-hidden {
    display: none;
  }
  /* Text */
  .title-container {
    top: 430px;
  }
  .title-container h1 {
    font-size: 30px;
  }
  .title-container p {
    font-size: 10px;
  }
  /* About section media */
  .about-content {
    flex-direction: column;
  }
  .footer-container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .contact-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  /* Blog page */

  .post-text h2 {
    font-size: 40px;
  }
  .blog-page-section h1 {
    font-size: 32px;
  }
  /* Footer */
  .footer-link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-button {
    right: -90px;
    bottom: -10px;
  }
  /* Blog Page */
  .post-header {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  .post-header img {
    max-width: 400px;
    width: 100%;
  }
  /* Photography Page */
  .gallery {
    grid-template-columns: 1fr;
  }

  .photo-card {
    height: 200px;
  }
}
/* 1024px media */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Header */
  .phone-header {
    display: flex;
    gap: 10px;
  }
  .header-nav {
    display: none;
  }
  .burger-menu {
    position: absolute;
    right: 5px;
    top: 30px;
    display: flex;
    z-index: 2000;
  }
  .header-nav.open {
    display: flex;
    gap: 30px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(227, 227, 227, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    z-index: 1500;
    padding-bottom: 400%;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .logo-hidden {
    display: none;
  }
}
